.navbar-nav .dropdown-menu {
    margin-left: -100px;
    text-align: center;
}

.nav-logo {
    border: 2px solid #F2C740;
    padding: 5px;
    border-radius: 10px;
    color: white;
    text-decoration: none;
}

.nav-logo:hover {
    background-color: #F2C740; 
}

.navbar {
    background-color: #5B419A;
    position: fixed;
    display: flex;
    width: 100%;
    height: 85px;
}

.navbar-toggler {
    background-color: white !important;
}

.navbar-brand {
    color: white !important;
    font-size: 40px !important;
}
